/*****************************************************************************
Title:  Style Sheet - Navigation Bar
Use:  CSS Style for Navigation Bar
Author:  Maria Emilia Lasso de la Vega
School/Term:  Mizzou, Summer 2020
Developed: July 8, 2020
Tested: July 29, 2018 - Firefox, Edge, and Chrome
******************************************************************************/

nav {
	width: 100%;
	height: auto;
	padding: 0;
	line-height: 40px;
	text-align: right;
	background-color: #0093ab;
}

#nav_menu a {
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;}

    nav a:link{color:#ffffff;}
    nav a:visited{color:#ffffff}
    nav a:hover, a:focus{color:#b6baba;}
    nav a:active{color:#ffffff}

#nav_menu ul{
    list-style-type:none;
    position:relative;
    display: flex;
    margin-bottom: 0;
}

#nav_menu ul li {
    display: inline;
    padding: 0 20px;
    position: relative;
}

#nav_menu ul ul{
    display: none;
    position: absolute;
}

#nav_menu ul li ul {
    float: none;
    position: absolute;
    background-color: #0093ab;
    width: 100%;
	height: 300%;
	margin: 0 30px 0 0;
	padding: 0;
	line-height: 40px;
	text-align: center;
}

#nav_menu ul li:hover > ul{
    display: block;
}

#nav_menu > ul::after{
    content: "";
    clear: both;
    display:block;
}

label {
	margin: 0 30px 0 0;
    color: #ffffff;
	font-size: 1.5em;
	line-height: 40px;
	display: none;
	width: 2em;
    float: none;
}

#toggle{
    display: none;}

nav .current{
    text-decoration: underline !important;
}

@media only screen and (max-width:650px){
    #hamburger{
    display: block;
    cursor: pointer;
    }
}
    
    #nav_menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    
    #nav_menu ul {
        display: block;
        margin: 0px;
    }
    
    #nav_menu ul li {
        display: block;
        margin: 0px;
    }
    
    #nav_menu ul li ul {
        width: 100%;
        z-index: 1;
        height: 300%;
    }
    
    #toggle:checked + #nav_menu {
        display: block;
    }
    
    #nav_menu ul li:hover > ul{
    display: block;
    position: relative;
}


@media screen and (max-width:800px){
    nav a{
        font-size: 12px;
    }
    #nav_menu ul li {
        padding: 0 10px;
    }
}