/*****************************************************************************

Title:  Style Sheet

Use:  CSS Style for website

Author:  Maria Emilia Lasso de la Vega

School/Term:  Mizzou, Summer 2020

Developed: June 28, 2020

Tested: July 24, 2018 - Firefox, Edge, and Chrome

******************************************************************************/

html, body{
    height: 100%;
    margin: 0;
}

body{
    width: 960px;
    margin: 0px auto;
    background: #9ad7ed;}

h1{
    padding: 10px;
    background-color: #ffffff;
    color:#1573B2;
    font-size:250%;
    text-align:center;
    font-family:"Lucida Sans Unicode", "Lucida Grande",sans-serif;
    clear: both;}

main{
    margin: 15px;
    padding: 10px;}

#welcome{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2{
    margin:45px;
    padding-top: 0px;
    padding-bottom: 5px;
    color:#105C90;
    font-size:200%;
    text-align:center;
    font-family:arial,helvetica,sans-serif;
    font-style:italic;}

h3{
    color:#105C90;
    font-size:150%;
    font-family:arial,helvetica,sans-serif;
    clear:left;}

h4{
    font-family:arial,helvetica,sans-serif;
    margin:0;
    padding-top: 5%;
    padding-left: 5%;
    text-align: left;
    background-color: #e0e0e0;
    border-top: 2px solid #9ad7ed;
}

#headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 20px;
    width: 30%;
padding: 20px;
    height: auto;
    box-shadow: 5px 5px 5px 5px #005866;}

.social_media{
    float:left;
    margin-left:auto;
    margin-right: auto;
    padding: 25px;
}

#bio_container{
    padding: 20px;
    height: auto;
    box-shadow: 5px 5px 5px 5px #005866;
    font-family:arial,helvetica,sans-serif;
}

#edu_container{
    margin-top: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #005866;
}
#edu_container h3{
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;
}

h5{
    margin-top: 5px;
    margin-bottom: 2px;
    color:#000000; font-size:110%; font-family:arial,helvetica,sans-serif;}

#past{color:black; font-size:100%; font-family:arial,helvetica,sans-serif;}
#current{color:black; font-size:100%; font-family:arial,helvetica,sans-serif;}

.prompts{
    font-size: 1em;
    font-family: sans-serif, "Helvetica", "Arial";
    text-align: left;
    color: #000000;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: 0;
}

.contact{
    width: 100%;
    height: 2em;
}

.message{
    width: 100%;
    height: 10em;
}

ul{
    margin-top: 2px;}

main>p{
    color:#000000;
    font-size:100%;
    font-family:arial,helvetica,sans-serif;}

main p:last-child{text-indent: 20px;} /* indents only the last paragraph*/
#ref_first::first-letter{font-size: 175%;}

.reflection{
    margin: 5px;
    padding: 5px;
}

main>blockquote{
    color:#000000;
    font-size:100%;
    font-family:arial,helvetica,sans-serif;}

#quote{
    margin-top: 60px;
    margin: 40px;
    font-family: 'Dancing Script', cursive;
    text-align: right;
    font-size: 1.5em;}

#author{
    font-family: 'Dancing Script', cursive;
    text-align: right;
    font-size: 1em;}

    a:link{color:#ffffff;}
    a:hover, a:focus{color:#b6baba;}
    a:visited{color:#ffffff;}
    a:active{color:#ffffff;}

a{text-decoration:none; font-size:10pt;}

footer{
    clear: both;
    font-size:10pt;
    text-align:center;}

#pdf{
    text-align: center;
    padding: 20%;
    margin: 0 0 30px 0;
    background-color: #1573B2;
    border: 20px solid #38b8ba;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;}

#social_media{
    list-style-type: none;
    text-decoration: none;
    margin-left: 0;
    padding-left: 0;}

#social_media li{
    display: inline;
    padding-right: 10px;}

.icon_contact{
    font-size: 1.5em;}

.icon_contact a{
    font-size: 1em;}

.icon_contact a:link{color:#ffffff;}
.icon_contact a:visited{color:#ffffff}
.icon_contact a:hover, a:focus{color:#b6baba;}
.icon_contact a:active{color:#ffffff}

.icons:hover{
    transform: scale(1.5,1.5);
}

.proj_boxes{
    list-style: none;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 5%;
    margin-right: 5%;
}

.proj_boxes a{
    text-align: center;
    display: block;
    background-color: #e0e0e0;
    color:#105C90;
    padding: 5%;
    margin-bottom: -24px;;
    font-size:100%;
    font-family:arial,helvetica,sans-serif;
}

.proj_content p{
    margin-top: 0;
    padding: 5%;
    background-color: #e0e0e0;
    padding-bottom: 5%;
    font-size:100%;
    font-family:arial,helvetica,sans-serif;
}

.proj_content{
    padding: 0;
    height: 0;
    overflow: hidden;
}

.proj_content:target{
    height: auto;
}

footer{
    background-color: #0093ab;
    height: auto;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 20px;
}


.wrapper{
    min-height: 100%;
    Margin-bottom: auto;
}

.footer, .push{
    height: auto;
}

@media print{
    *{
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        border: none !important;}}
    
    a[href^="http:"]::after{
        content: "["attr(href)"]";
        color: blue;}
    
    @page{
        margin: 0.5cm;}

@media screen and (max-width:959px){
    body{width:100%;}}

@media screen and (max-width:640px){
    #headshot{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:50%;}
    #bio{width:100%;}
    h1{width:100%;
    font-size:1.5em;}
    h2{clear: both;}
    p{clear: both;}
    footer{font-size: 0.5em;}
    footer a{font-size: 0.5em;}}


@media screen and (max-width:320px){
    body{width:320px;}}
