/*****************************************************************************
Title:  Style Sheet
Use:  CSS Style for website
Author:  Maria Emilia Lasso de la Vega
School/Term:  Mizzou, Summer 2020
Developed: June 28, 2020
Tested: July 29, 2018 - Firefox, Edge, and Chrome
******************************************************************************/

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    width: 960px;
    margin: 0px auto;
    background: #9ad7ed;
    font-family:arial,helvetica,sans-serif;
}

header{
    background: url("images/drips.png");
    height: 181px;
}

main{
    margin: 15px;
    padding: 10px;
}

.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site_content{
    flex: 1;
}




/* Heading and Link Styling ************************************************/
h1{
    padding: 10px;
    margin: 0;
    height: 167px;
    color:#1573B2;
    font-size:250%;
    text-align:center;
    font-family:"Lucida Sans Unicode", "Lucida Grande",sans-serif;
}

h2{
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color:#105C90;
    font-size:200%;
    text-align:center;
    font-style:italic;
}

h3{
    color:#105C90;
    font-size:150%;
    clear:left;
    margin-bottom:10px;
}

h4{
    margin:0;
    padding-top: 5%;
    padding-left: 5%;
    text-align: left;
    background-color: #e0e0e0;
    border-top: 2px solid #9ad7ed;
}

h5{
    margin-top: 5px;
    margin-bottom: 2px;
    color:#000000;
    font-size:110%;
}


a{
    text-decoration: none;
}

    a:link{color:#ffffff;}
    a:visited{color:#ffffff;}
    a:hover, a:focus{color:#b6baba;}
    a:active{color:#ffffff;}





/* Home page styling ************************************************/
#welcome{
    text-align: center;
    margin: 1em 0 0 0;
}

#headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 20px;
    width: 30%;
    padding: 20px;
    height: auto;
    box-shadow: 5px 5px 5px 5px #005866;
}

#bio_container{
    margin: 0;
    padding: 20px 30px;
    height: auto;
    box-shadow: 5px 5px 5px 5px #005866;
    font-family:arial,helvetica,sans-serif;
}

#edu_container{
    margin: 60px 0 60px 0;
    padding: 20px 30px;
    box-shadow: 5px 5px 5px 5px #005866;
}

#edu_container h3{
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;
}

ul{                     /*education list*/
    margin-top: 2px;}


#quote{
    margin: 60px 40px 40px 40px;
    font-family: 'Dancing Script', cursive;
    text-align: right;
    font-size: 1.5em;
}

#author{
    text-align: right;
    font-size: 1em;
    margin-top: 0.5em;
}




/* Resume Page Styling ************************************************/
#pdf{
    text-align: center;
    padding: 20%;
    margin: 0 0 30px 0;
    background-color: #1573B2;
    border: 20px solid #38b8ba;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}




/* Projects Page styling ***************************************/
.proj_boxes{
    list-style: none;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 45px;
    margin-left: 5%;
    margin-right: 5%;
}

.proj_boxes a{
    text-align: center;
    display: block;
    background-color: #e0e0e0;
    text-decoration: none;
    color:#105C90;
    padding: 5%;
    margin-bottom: -24px;;
    font-size:100%;
    font-family:arial,helvetica,sans-serif;
}

.proj_content p{
    margin-top: 0;
    padding: 5%;
    background-color: #e0e0e0;
    padding-bottom: 5%;
    font-size:100%;
    font-family:arial,helvetica,sans-serif;
}

.proj_content{
    padding: 0;
    height: 0;
    overflow: hidden;
}

.proj_content:target{
    height: auto;
}



/* Reflection Page Styling ******************************************/
.reflection{
    margin: 5px;
    padding: 5px;
}

#memory{
    width: 500px;
    margin: 50px auto 20px auto;
    padding: 10px 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    text-align: center;
    background: #e0e0e0;
    border: 3px inset;
}

#papi{
    width: 400px;
    height: 300px;
    margin: 1em auto;
    border: 6px inset #3990cc;
}




/* Education Page Styling ******************************************/
table{
    width: 75%;
	border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #38b8ba;
}

th {
	background-color: #105C90;
	color: #fff;
	text-align: left;
    padding: 6px;
    border: 2px solid #38b8ba;
}

tbody tr td{
	border: 2px solid #38b8ba;
	padding: 6px;
}

tr:nth-child(odd){
    background-color: #8ec7ed;
}

tr:nth-child(even){
    background-color: #c1d7e6;
}

figcaption{
    display: none;
}




/* Contact page styling ******************************************/
.social_media{
    clear: both;
    float:left;
    margin-left:auto;
    margin-right: auto;
    padding: 25px;
}

.contact{
    width: 100%;
    height: 3em;
    margin: 0 0 1em 0;
    padding: 0 5px;
    background-color: #e0e0e0;
    border: none;
    box-shadow: 1px 1px 1px 2px #005866;
    font-size: 100%;
    color:#105C90;
}

.message{
    font-family:arial,helvetica,sans-serif;
    width: 100%;
    height: 10em;
    margin: 0 0 1em 0;
    padding: 5px;
    background-color: #e0e0e0;
    border: none;
    box-shadow: 1px 1px 1px 2px #005866;
    font-size: 100%;
    color:#105C90;
}

#social_media{
    list-style-type: none;
    text-decoration: none;
    margin-left: 0;
    padding-left: 0;}

#social_media li{
    display: inline;
    padding-right: 10px;
}

#send_button{
    clear: both;
    float: right;
    background-color: #9ad7ed;
    border: 0;
}

#send_button:hover{
    background: url("images/send-hover.png") no-repeat;
    background-size: cover;
}




/* Footer Styling ****************************************************/
footer{
    background-color: #0093ab;
    height: auto;
    padding: 10px;
    margin-bottom: 0;
    clear: both;
    padding-top: 5px;
    font-size:10pt;
    text-align:center;
    background-color: #0093ab;
    height: 150px;
    border-top: none;
    padding-bottom: 10px;
}

.icon_contact{
    font-size: 1.5em;}

.icon_contact a{
    font-size: 1em;}

.icon_contact a:link{color:#ffffff;}
.icon_contact a:visited{color:#ffffff}
.icon_contact a:hover, a:focus{color:#b6baba;}
.icon_contact a:active{color:#ffffff}

.icons:hover{
    transform: scale(1.5,1.5);
}




/* Media Queries ****************************************************/
@media print{
    *{
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        border: none !important;}
    
    nav{
        display: none;}
    
    a[href^="http:"]::after{
        content: "["attr(href)"]";
        color: blue;}
    
    @page{
        margin: .5cm;}}

@media screen and (max-width:959px){
    body{width:100%;}
}

@media screen and (max-width:800px){
    table{
        width: 100%;}
    
    tr{
        font-size: 12px;}
}

@media screen and (max-width:640px){
    #headshot{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    }
    
    #bio {width:100%;}
    
    h1{
        width:100%;
        font-size:1.5em;
        padding: 20px;
    }
    
    h2 {clear: both;}
    
    p {clear: both;}
    
    footer{font-size: 0.5em;}
    
    footer a {font-size: 0.5em;}
}


@media screen and (max-width:320px){
    body{width:320px;}
}